library{
    /*border: 3px dotted red;*/
    margin: auto;
    width: 720px;
    height: 400px;

    font-weight: bold;
    background-color: cadetblue;
}
library:before{
    margin: 5px 5px 5px 5px;
    font-weight: bold;
    color: plum;
    content: "Biblioteka: ";
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*users{*/
/*   */
/*    !*border: 3px dotted blue;*!*/
/*    !*margin: 5px 5px 5px 5px;*!*/
/*    !*max-width: 50%;*!*/
/*    !*max-height: 50%;*!*/
/*    !*display: block;*!*/
/*    !*!*content: "Biblioteka: ";*!*!*/
/*    !*font-weight: bold;*!*/
/*    !*font-size: 200%;*!*/
/*    !*color: rgb(53, 53, 110);*!*/
/*}*/
customers:before{
    display: table;
    content: "Czytelnicy: ";
    font-weight: bold;
    font-size: 200%;
    color: rgb(33, 128, 96);
    margin: 5px 10px 5px 5px;
}
users,publishers,books,authors,borrowings{
    float:left;
    border-radius: 5%;
    background: #DAF7A6;
    margin: 10px 10px 10px 10px;
}

users librarians:before{
    display: table;
    content: "Bibliotekarze: ";
    font-weight: bold;
    font-size: 200%;
    color: #8e5164;
    margin: 5px 10px 5px 5px;
}

users customer:before{
    display: block;
    content: "Id Czytelnika: " attr(customer_id);
    font-weight: bold;
    font-size: 130%;
    color: darkviolet;

}
customer address:before, librarian address:before{
    display: block;
    content: "Adres: ";
    font-weight: bold;
    font-size: 130%;
    color: #BECA11;
}
address street:before,address city:before,address country:before{
    color: #1130CA;
    font-size: 110%;
    font-style: italic;

}

address street:after,address city:after,address country:after{
    content: "\A";
    white-space: pre;

}
address street:before{
    content: "Ulica: ";
}
address city:before{
    content: "Miasto: ";
}
address country:before{
    content: "Kraj: ";
}

customer firstname:before,customer lastname:before,customer phone:before{
     color: brown;
     font-size: 110%;
     font-style: italic;
 }
customer firstname:after,customer lastname:after,customer phone:after{
    content: "\A";
    white-space: pre;

}
customer firstname:before{
    content: "Imie: ";
}
customer lastname:before{
    content: "Nazwisko: ";
}
customer phone:before{
    content: "Numer telefonu: ";
}
librarian firstname:before,librarian lastname:before,librarian phone:before{
    color: brown;
    font-size: 110%;
    font-style: italic;
}
librarian firstname:after,librarian lastname:after,librarian phone:after{
    content: "\A";
    white-space: pre;

}
librarian firstname:before{
    content: "Imie: ";
}
librarian lastname:before{
    content: "Nazwisko: ";
}
librarian phone:before{
    content: "Numer telefonu: ";
}

users librarian:before{
    display: block;
    content: "Id Bibliotekarza: " attr(librarian_id);
    font-weight: bold;
    font-size: 130%;
    color: rgb(13, 78, 96);
    margin: 5px 5px 5px 5px;
}
/*author:before,author,author:after{*/

/*    background: #6FDED3;*/
/*    background-clip: content-box;*/
/*}*/
/*customer:before,customer,customer:after{*/

/*    background: #6FDED3;*/
/*    background-clip: content-box;*/
/*}*/
/*librarian:before,librarian,librarian:after{*/

/*    background: #6FDED3;*/
/*    background-clip: content-box;*/
/*}*/
/*publisher:before,publisher,publisher:after{*/

/*    background: #6FDED3;*/
/*    background-clip: content-box;*/
/*}*/
/*book:before,book,book:after{*/

/*    background: #6FDED3;*/
/*    background-clip: content-box;*/
/*}*/
/*address:before,address,address:after{*/

/*    background: #6FDED3;*/
/*    background-clip: content-box;*/
/*}*/

publishers:before{
    margin: auto;
    display: block;
    content: "Wydawnictwo: ";
    font-weight: bold;
    font-size: 200%;
    color: #11CAB7;
}
publisher:before{
    display: table;
    content: "Id Wydawnictwa: " attr(publisher_id);
    font-weight: bold;
    font-size: 130%;
    color: darkviolet;
    margin: 5px 10px 5px 5px;
}
publisher name:before,publisher country:before{
    color: brown;
    font-size: 110%;
    font-style: italic;

}
publisher name:after,publisher country:after{
    content: "\A";
    white-space: pre;

}
publisher name:before{
    content: "Nazwa: ";
}
publisher country:before{
    content: "Kraj: ";
}

authors:before{
    display: block;
    content: "Autorzy: ";
    font-weight: bold;
    font-size: 200%;
    color: #CA11BE;
}


author:before{
    display: table;
    content: "Id Autora: " attr(author_id);
    font-weight: bold;
    font-size: 130%;
    color: darkviolet;
    margin: 5px 10px 5px 5px;
}

author firstname:before,author lastname:before,author country:before{
    color: brown;
    font-size: 110%;
    font-style: italic;

}
author firstname:after,author lastname:after,author country:after{
    content: "\A";
    white-space: pre;
}
author firstname:before{
    content: "Imie: ";
}
author lastname:before{
    content: "Nazwisko: ";
}
author country:before{
    content: "Kraj Pochodzenia: ";
}

books:before{
    display: block;
    content: "Ksiazki: ";
    font-weight: bold;
    font-size: 200%;
    color: #CA1811;
}
book:before{
    display: table;
    content: "Id Ksiazki: " attr(book_id);
    font-weight: bold;
    font-size: 130%;
    color: darkviolet;
    margin: 5px 10px 5px 5px;
}
book title:before,book pages:before,book year:before,book isbn:before{
    color: brown;
    font-size: 110%;
    font-style: italic;

}
book title:after,book pages:after,book year:after,book isbn:after{
    content: "\A";
    white-space: pre;

}
book title:before{
    content: "Tytul: ";
}
book pages:before{
    content: "Ilosc Stron: ";
}
book year:before{
    content: "Rok Wydania: ";
}
book isbn:before{
    content: "ISBN: ";
}

borrowings:before{
    display: block;
    content: "Wypozyczenia: ";
    font-weight: bold;
    font-size: 200%;
    color: rgb(53, 53, 110);
}
